@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

body {
    background-color: #fffbc3;
    font-family: 'Libre Baskerville', serif;
  }
  
  h1 {
    color: #920505;
  }
  
  .card {
    background-color: #f83232;
    padding: 0.4em;
    
    }
  
  .card-header {
    background-color: rgba(255, 255, 85, 0.87);
  }
  
  .card-body {
    background-color: rgba(255, 255, 85, 0.87);
  }
  
  .yellow {
    color: yellow;
  }
  #content-row {
    position: relative;
    width: 100%;
    display: flex;
    
  }
  #content-row::before{
    content:"";
    background-image:url(http://connaitrelawallonie.wallonie.be/sites/all/themes/w/logo.png);
    background-repeat:no-repeat;
    position: absolute;
        
    background-size: 15em;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;    
    opacity: 0.65;
    background-attachment: local, scroll;
    background-position: bottom right  ;}







