.navbar.navbar-9 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
}
.navbar-brand{
    width: 20%;
    text-align:left;
    
}
img {
    max-width: 70%;
    height: auto;
}
