@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");
@media (max-width: 575px) and (min-width: 200px) {
  body {
    background-color: #fffbc3;
    font-family: 'Libre Baskerville', serif;
  }
  h1 {
    color: #920505;
  }
  .container-fluid {
    width: 100%;
  }
  .card {
    background-color: #fffbc3;
    width: 10%;
    border: none;
  }
  .card-header {
    color: #920505;
    background-color: #fffbc3;
    font-size: 125%;
    border: none;
  }
  .card-body {
    background-color: #fffbc3;
  }
  .yellow {
    color: yellow;
  }
  #content-row {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #content-row::before {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    height: 38em;
    background-size: 12em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 45px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  body {
    background-color: #fffbc3;
    font-family: 'Libre Baskerville', serif;
  }
  h1 {
    color: #920505;
  }
  .container-fluid {
    width: 90%;
  }
  .card {
    background-color: #fffbc3;
    width: 5%;
    border: none;
  }
  .card-header {
    color: #920505;
    background-color: #fffbc3;
    font-size: 125%;
    border: none;
  }
  .card-body {
    background-color: #fffbc3;
  }
  .yellow {
    color: yellow;
  }
  #img {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #img::before {
    content: "";
    background-image: url(https://media.discordapp.net/attachments/778896610138259458/780800500173897738/coq.png?width=520&height=560);
    background-repeat: no-repeat;
    position: absolute;
    height: 42em;
    background-size: 15em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
  }
  #scaleimg {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #scaleimg::before {
    content: "";
    background-image: url(https://media.discordapp.net/attachments/778896610138259458/780800500173897738/coq.png?width=520&height=560);
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    height: 42em;
    background-size: 15em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  body {
    background-color: #fffbc3;
    font-family: 'Libre Baskerville', serif;
  }
  h1 {
    color: #920505;
  }
  .container-fluid {
    width: 90%;
  }
  .card {
    background-color: #fffbc3;
    width: 10%;
    border: none;
  }
  .card-header {
    color: #920505;
    background-color: #fffbc3;
    font-size: 125%;
    border: none;
  }
  .card-body {
    background-color: #fffbc3;
  }
  .yellow {
    color: yellow;
  }
  #img {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #img::before {
    content: "";
    background-image: url(https://media.discordapp.net/attachments/778896610138259458/780800500173897738/coq.png?width=520&height=560);
    background-repeat: no-repeat;
    position: absolute;
    height: 43.2em;
    background-size: 17em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
  }
  #scaleimg {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #scaleimg::before {
    content: "";
    background-image: url(https://media.discordapp.net/attachments/778896610138259458/780800500173897738/coq.png?width=520&height=560);
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    height: 43.2em;
    background-size: 17em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  body {
    background-color: #fffbc3;
    font-family: 'Libre Baskerville', serif;
  }
  h1 {
    color: #920505;
  }
  .container-fluid {
    width: 90%;
  }
  .card {
    background-color: #fffbc3;
    width: 10%;
    border: none;
  }
  .card-header {
    color: #920505;
    background-color: #fffbc3;
    font-size: 125%;
    border: none;
  }
  .card-body {
    background-color: #fffbc3;
  }
  .yellow {
    color: yellow;
  }
  #img {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #img::before {
    content: "";
    background-image: url(https://media.discordapp.net/attachments/778896610138259458/780800500173897738/coq.png?width=520&height=560);
    background-repeat: no-repeat;
    position: absolute;
    height: 40.2em;
    background-size: 15em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
  }
  #scaleimg {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #scaleimg::before {
    content: "";
    background-image: url(https://media.discordapp.net/attachments/778896610138259458/780800500173897738/coq.png?width=520&height=560);
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    height: 40.2em;
    background-size: 15em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #fffbc3;
    font-family: 'Libre Baskerville', serif;
  }
  h1 {
    color: #920505;
  }
  .container-fluid {
    width: 90%;
  }
  .card {
    background-color: #fffbc3;
    width: 10%;
    border: none;
  }
  .card-header {
    color: #920505;
    background-color: #fffbc3;
    font-size: 125%;
    border: none;
  }
  .card-body {
    background-color: #fffbc3;
  }
  .yellow {
    color: yellow;
  }
  #content-row {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #content-row::before {
    content: "";
    background-image: url(https://media.discordapp.net/attachments/778896610138259458/780800500173897738/coq.png?width=520&height=560);
    background-repeat: no-repeat;
    position: absolute;
    height: 40.2em;
    background-size: 17em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
  }
  #scaleimg {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #scaleimg::before {
    content: "";
    background-image: url(https://media.discordapp.net/attachments/778896610138259458/780800500173897738/coq.png?width=520&height=560);
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    height: 40.2em;
    background-size: 17em;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.45;
    background-attachment: local, scroll;
    background-position: bottom right;
  }
}

.navbar-brand {
  text-align: left;
}

img {
  max-width: 24%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */